<<<<<<< HEAD
<!-- 
      SINGLE PAGE APP 
      menu => menu items
      [] [] []
      item + price
      description

      _____________________
      MODAL
      checkout => items on cart
      ability to update item qty

      item name + price + qty
      "get me my food"
      => redirect to confirmation page: thank you!

      _____________________
      ORDER CONFIRMATION
      confirmation => thank you, your order will be ready in x minutes.
 -->

=======
>>>>>>> 69794a45df13ffdbb6b6821649220a952767dc53
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>DEMOLISH</title>
<<<<<<< HEAD
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="./styles/main.css">
=======
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main.css">
>>>>>>> 69794a45df13ffdbb6b6821649220a952767dc53
</head>
<body>
  <header class="jumbotron">
    <div>
      <img src="http://lorempixel.com/40/40/" alt=""/>
      <span>DEMOLISH</span>
    </div>
<<<<<<< HEAD
    <nav class="menu">
        <input class="btn btn-default" type="button" value="MENU" />
    </nav>
  </header>
  <main class="container-fluid">
    <div class="row placeholder-cards">
=======
    <nav class="navi">
    <!-- <% include ./menu-modal.ejs %> -->


        <!-- <input class="btn btn-default" type="button" value="MENU" /> -->

        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Browse Our Menu
        </button> -->

        <!-- Modal -->
        <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Menu</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Proceed to checkout</button>
              </div>
            </div>
          </div>
        </div> -->

    </nav>
  </header>
  <main class="container">
   <!--  <div class="row placeholder-cards">
>>>>>>> 69794a45df13ffdbb6b6821649220a952767dc53
      <div class="col col-md-4">
        <span>JOIN US</span>
      </div>
      <div class="col col-md-4">
        <span>Click here for a foodgasm!!!</span>
      </div>
      <div class="col col-md-4">
        <span>About Us</span>
      </div>
<<<<<<< HEAD
    </div>
  </main>
  <footer>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </footer>
</body>
</html>









<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

  </head>

  <body>
    <h1>Hello World!</h1>
  </body>
=======
    </div> -->

    <div id="menu" class="row">
      <span><h3>Menu</h3></span>

      <section id="appetizers" class="menu-course">
        <div id="app-the-header" class="menu-course__heading">
          <span><h4>Appetizers</h4></span>
        </div>

        <article id="chicken" class="menu-item col col-md-4">
          <div class="menu-container"><!-- ITEM image, name, description price -->
          <!-- <img class="chicken" src="./images/chicken-wings.jpg" /> -->
          Chicken Wings
            <div id="price">Price:</div>
          </div>
        </article>

        <article id="fries" class="menu-item col col-md-4">
          <div class="menu-container">
          <!-- ITEM image, name, description price -->
          Fries
            <div id="price">Price:</div>
          </div>
        </article>

        <article id="brushcetta" class="menu-item col col-md-4">
          <div class="menu-container">
          <!-- ITEM image, name, description price -->
          Bruschetta
            <div id="price">Price:</div>
          </div>
        </article>
      </section>

      <section id="mains" class="menu-course">
        <div id="mains-the-header" class="menu-course__heading">
          <span><h4>Mains</h4></span>
        </div>

        <article id="pizza" class="menu-item col col-md-4">
          <div class="menu-container">
          <!-- ITEM image, name, description price -->
          <!-- <img class="chicken" src="./images/chicken-wings.jpg" /> -->
          Pizza
            <div id="price">Price:</div>
          </div>
        </article>

        <article id="tacos" class="menu-item col col-md-4">
          <div class="menu-container">
          <!-- ITEM image, name, description price -->
          Fish Tacos
            <div id="price">Price:</div>
          </div>
        </article>

        <article id="burger" class="menu-item col col-md-4">
          <div class="menu-container">
          <!-- ITEM image, name, description price -->
          Vegan Burger
            <div id="price">Price:</div>
          </div>
        </article>
      </section>


      <section id="dessert" class="menu-course">
        <div id="app-the-header" class="menu-course__heading">
          <span><h4>Appetizers</h4></span>
        </div>

        <article id="blueberry-pizza" class="menu-item col col-md-4">
          <div class="menu-container"><!-- ITEM image, name, description price -->
          <!-- <img class="chicken" src="./images/chicken-wings.jpg" /> -->
          Blueberry Dessert Pizza
            <div id="price">Price:</div>
          </div>
        </article>

        <article id="cinnamon-bun" class="menu-item col col-md-4">
          <div class="menu-container">
          <!-- ITEM image, name, description price -->
          Cinnamon Bun
            <div id="price">Price:</div>
          </div>
        </article>

        <article id="lava-cake" class="menu-item col col-md-4">
          <div class="menu-container">
          <!-- ITEM image, name, description price -->
          Chocolate Lava Cake
          <div id="price">Price:</div>
          </div>

        </article>
      </section>

    </div>
  </main>

  <footer class="container-fluid">
   <div class="row placeholder-cards">
    <div class="col col-md-4">
      <span>JOIN US</span>
    </div>
    <div class="col col-md-4">
      <span>Click here for a foodgasm!!!</span>
    </div>
    <div class="col col-md-4">
      <span>About Us</span>
    </div>
  </div>
  </footer>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
>>>>>>> 69794a45df13ffdbb6b6821649220a952767dc53
</html>
