<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DEMOLISH | Food you will devour instantly...</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
  <link rel="stylesheet" href="./styles/main.css">

  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/parallax.css">
  <!-- <link rel="stylesheet" href="parallax.min.css"> -->

</head>
<body>

  <!-- PARALLAX WRAPPER -->
  <div class="parallax">
    <a name="top"></a>

  <!-- PARALLAX LAYER 1 -->
    <header id="section-1" class="parallax-section">
      <div class="overlay parallax-layer parallax-layer-base">
        <div class="flex-center">
          <h1 class="app-title">DEMOLISH</h1>
        </div>
        <div class="header-scroll-icon flex-center">
          <a href="#menu">
            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <div class="parallax-layer parallax-layer-back">
      </div>
    </header>


  <!-- PARALLAX LAYER 2 -->
    <main id="section-2" class="menu container">

      <section id="menu" class="menu-container col col-md-9">
        <!-- Populated menu items -->
        <span><h3>Menu</h3></span>

        <section id="appetizers" class="menu-course row">
          <div id="app-the-header" class="menu-course__heading">
            <span><h4>Appetizers</h4></span>
          </div>

          <article data-item-id="1" data-item-name="chicken" class="menu-item col col-md-4">
            <div class=""><!-- ITEM image, name, description price -->
            <!-- <img class="chicken" src="./images/chicken-wings.jpg" /> -->
            Chicken Wings
              <div id="price">Price:</div>
            </div>
          </article>

          <article data-item-id="2" data-item-name="fries" class="menu-item col col-md-4">
            <div class="">
            <!-- ITEM image, name, description price -->
            Fries
              <div id="price">Price:</div>
            </div>
          </article>

          <article data-item-id="3" data-item-name="brushcetta" class="menu-item col col-md-4">
            <div class="">
            <!-- ITEM image, name, description price -->
            Bruschetta
              <div id="price">Price:</div>
            </div>
          </article>
        </section>

        <section id="mains" class="menu-course">
          <div id="mains-the-header" class="menu-course__heading">
            <span><h4>Mains</h4></span>
          </div>

          <article data-item-name="" id="pizza" class="menu-item col col-md-4">
            <div class="">
            <!-- ITEM image, name, description price -->
            <!-- <img class="chicken" src="./images/chicken-wings.jpg" /> -->
            Pizza
              <div id="price">Price:</div>
            </div>
          </article>

          <article data-item-name="" id="tacos" class="menu-item col col-md-4">
            <div class="">
            <!-- ITEM image, name, description price -->
            Fish Tacos
              <div id="price">Price:</div>
            </div>
          </article>

          <article data-item-name="" id="burger" class="menu-item col col-md-4">
            <div class="">
            <!-- ITEM image, name, description price -->
            Vegan Burger
              <div id="price">Price:</div>
            </div>
          </article>
        </section>

        <section id="dessert" class="menu-course">
          <div id="app-the-header" class="menu-course__heading">
            <span><h4>Appetizers</h4></span>
          </div>

          <article data-item-name="" id="blueberry-pizza" class="menu-item col col-md-4">
            <div class=""><!-- ITEM image, name, description price -->
            <!-- <img class="chicken" src="./images/chicken-wings.jpg" /> -->
            Blueberry Dessert Pizza
              <div id="price">Price:</div>
            </div>
          </article>

          <article data-item-name="" id="cinnamon-bun" class="menu-item col col-md-4">
            <div class="">
            <!-- ITEM image, name, description price -->
            Cinnamon Bun
              <div id="price">Price:</div>
            </div>
          </article>

          <article data-item-name="" id="lava-cake" class="menu-item col col-md-4">
            <div class="">
            <!-- ITEM image, name, description price -->
            Chocolate Lava Cake
            <div id="price">Price:</div>
            </div>

          </article>
        </section>
      </section>

      <aside class="order-cart col col-md-3">
        <!-- Real time order form -->

        <div class="address-hours">
          <span>
          <i class="fa fa-map-marker" aria-hidden="true"></i>

          46 Spadina Avenue, Toronto ON M5V 2H8
          </span>
          <br/>
          Delivery Hours: 11am - 10pm
        </div>

        <div class="order-items">
          <h3>Your Order</h3>
            <form action="/orders" method="post" class="customer-info">
            <label for="customer-name">Name:</label>
            <input type="text" name="customer-name" placeholder="Enter your name here" maxlength="100">
            <br>
            <label for="customer-phone">Phone:</label>
            <input type="text" name="customer-phone" placeholder="Enter your phone here" maxlength="70">
            </form>
            <br>
            <button type="submit">Check out</button>
        </div>
      </aside>
    </main>

    <!-- PARALLAX LAYER 3 (BACKGROUND) -->

    <div id="section-3" class="parallax-section">
      <div class="parallax-layer parallax-layer-back">
        <div class="overlay parallax-layer parallax-layer-base">
        </div>
      </div>
    </div>

    <!-- PARALLAX LAYER 4 -->
    <footer id="section-4">
      <section class="container placeholder-cards">
        <article class="col col-md-4">
          <div class="card-container">
            <h3>Join Us</h3>
          </div>
        </article>
        <article class="col col-md-4">
          <div class="card-container">
            <h3>Click here for a foodgasm!!!</h3>
          </div>
        </article>
        <article class="col col-md-4">
          <div class="card-container">
            <h3>About Us</h3>
            <ul class="address">
              <li>
                <span>
                  46 Spadina Avenue
                </span>
              </li>
              <li>
                <span>
                  Toronto, ON M5V 2H8
                </span>
              </li>
              <li>
                <span>
                  +1-647-360-6821
                </span>
              </li>
            </ul>
          </div>
        </article>
      </section>

      <div class="scroll-to-top flex-center">
        <a href="#top">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>
      </div>

      <section class="footer__app-details">
        <div class="social-media flex-center">
          <ul>
            <li>
              <a href="http://www.facebook.com/">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="http://www.instagram.com/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="http://www.twitter.com/">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="credentials flex-center">
          &copy; Demolish &mdash; 2017
        </div>
      </section>
    </footer>

  </div>
  <!--/ PARALLAX WRAPPER -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/app.js"></script>
    <script src="https://use.fontawesome.com/e957f15459.js"></script>

</body>

</html>
