<!doctype html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DEMOLISH | Food you will devour instantly...</title>

  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cabin+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->

  <link rel="stylesheet" href="/styles/parallax.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/menu.css">
  <!-- <link rel="stylesheet" href="parallax.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cabin+Condensed" rel="stylesheet">


</head>
<body>

  <!-- PARALLAX WRAPPER -->
  <div class="parallax">
    <a name="top"></a>

  <!-- PARALLAX LAYER 1 -->
    <header id="section-1" class="parallax-section">
      <div class="overlay parallax-layer parallax-layer-base">
        <!-- <h1 class="app-title flex-center">DEMOLISH</h1> -->

        <div class="flex-center">
          <img src="/images/demolish_logo_vector.png" class="app-title flex-center"/>
        </div>

      </div>

      <div class="parallax-layer parallax-layer-back">
      </div>
    </header>


  <!-- PARALLAX LAYER 2 -->
    <main id="section-2" class="menu container">

      <section id="menu" class="menu-container col col-md-9">
        <h3>Menu</h3>

        <section id="appetizers" class="menu-course row">
          <h4>Appetizers</h4>

          <article class="col col-md-4">
            <div  data-item-id="1" data-item-name="chicken" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Chicken Wings</div>
                <div>Price: $<span class="item-price">5.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="2" data-item-name="fries" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Fries</div>
                <div>Price: $<span class="item-price">4.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="3" data-item-name="brushcetta" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Brushcetta</div>
                <div>Price: $<span class="item-price">4.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="4" data-item-name="sushi" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Sushi Rolls</div>
                <div>Price: $<span class="item-price">5.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="5" data-item-name="flatbread" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Avocado and Feta Flatbread</div>
                <div>Price: $<span class="item-price">6.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="6" data-item-name="wrap" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Rainbow Salad Wrap</div>
                <div>Price: $<span class="item-price">4.99</span></div>
              </div>
            </div>
          </article>
        </section>

        <section id="mains" class="menu-course row">
          <h4>Mains</h4>

          <article class="col col-md-4">
            <div data-item-id="4" data-item-name="pizza" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Pizza</div>
                <div>Price: $<span class="item-price">12.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="5" data-item-name="tacos" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Fish Tacos</div>
                <div>Price: $<span class="item-price">8.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="6" data-item-name="burger" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Vegan Burger</div>
                <div>Price: $<span class="item-price">11.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="10" data-item-name="cannelloni" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Cannelloni with Beef Ragù and Gorgonzola</div>
                <div>Price: $<span class="item-price">15.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="11" data-item-name="linguine" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Tomato and Caper Linguine</div>
                <div>Price: $<span class="item-price">11.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="12" data-item-name="paella" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Chicken Paella</div>
                <div>Price: $<span class="item-price">13.99</span></div>
              </div>
            </div>
          </article>
        </section>

        <section id="dessert" class="menu-course row">
          <h4>Desserts</h4>

          <article class="col col-md-4">
            <div data-item-id="7" data-item-name="blueberry-pizza" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Blueberry Dessert Pizza</div>
                <div>Price: $<span class="item-price">7.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="8" data-item-name="cinnamon-bun" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Cinnamon Bun</div>
                <div>Price: $<span class="item-price">5.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="9" data-item-name="lava-cake" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Chocolate Lava Cake</div>
                <div>Price: $<span class="item-price">5.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="16" data-item-name="cake" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Strawberry & Cream Sandwich Sponge</div>
                <div>Price: $<span class="item-price">4.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="17" data-item-name="muffins" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Hot Cross Muffins</div>
                <div>Price: $<span class="item-price">3.99</span></div>
              </div>
            </div>
          </article>

          <article class="col col-md-4">
            <div data-item-id="18" data-item-name="calzone" class="menu-item">
              <div class="menu-overlay">
                <div class="item-name">Chocolate Calzone</div>
                <div>Price: $<span class="item-price">7.99</span></div>
              </div>
            </div>
          </article>
        </section>
      </section>

      <aside class="order-cart col col-md-3">
        <div class="address-hours">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          46 Spadina Avenue, Toronto ON M5V 2H8
          <br/>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          Delivery Hours: 11am - 10pm
        </div>

        <div class="order-items">
          <h3>Your Order</h3>

          <ul class="cart-items">
          </ul>

          <div class="order-total">
            Subtotal: <span class="sub-total"></span>
            Tax: <span class="tax"></span>
            <hr/>
            Total: <span class="total"></span>
          </div>

          <form action="/food" method="post" class="customer-info">
             <label for="customer-name">Name:</label>
             <input type="text" name="customer-name" placeholder="Enter your name here" maxlength="100">
             <br>
             <label for="customer-phone">Phone:</label>
             <input type="text" name="customer_phone" placeholder="Enter your phone here" maxlength="70">
             <input type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal" value="Checkout"/>
          </form>
        </div>
      </aside>


      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="finalCheckout">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModal">Order Summary</h4>
            </div>
            <div class="modal-body">
            <!-- ORDER SUMARRY HERE -->

            <div class="order-total">
              Subtotal: <span class="sub-total"></span>
              Tax: <span class="tax"></span>
              <hr/>
              Total: <span class="total"></span>
            </div>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Get me my food!</button>
            </div>
          </div>
        </div>
      </div>


    </main>

    <!-- PARALLAX LAYER 3 (BACKGROUND) -->

    <div id="section-3" class="parallax-section">
      <div class="parallax-layer parallax-layer-back">
        <div class="overlay parallax-layer parallax-layer-base">
        </div>
      </div>
    </div>

    <!-- PARALLAX LAYER 4 -->
    <footer id="section-4">
      <section class="container placeholder-cards">
        <article class="col col-md-4">
          <div class="card-container">
            <h3>Join Us</h3>
          </div>
        </article>
        <article class="col col-md-4">
          <div class="card-container">
            <h3>Click here for a foodgasm!!!</h3>
          </div>
        </article>
        <article class="col col-md-4">
          <div class="card-container">
            <h3>About Us</h3>
            <ul class="address">
              <li>
                <span>
                  46 Spadina Avenue
                </span>
              </li>
              <li>
                <span>
                  Toronto, ON M5V 2H8
                </span>
              </li>
              <li>
                <span>
                  +1-647-360-6821
                </span>
              </li>
            </ul>
          </div>
        </article>
      </section>

      <div class="scroll-to-top flex-center">
        <a href="#top">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>
      </div>

      <section class="footer__app-details">
        <div class="social-media flex-center">
          <ul>
            <li>
              <a href="http://www.facebook.com/">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="http://www.instagram.com/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="http://www.twitter.com/">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="credentials flex-center">
          &copy; Demolish &mdash; 2017
        </div>
      </section>
    </footer>

  </div>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/e957f15459.js"></script>
  <script src="/scripts/app.js"></script>

</body>

</html>
