 /* PROJECT DEMOLISH
 * By: Carson, Parth, and Florence
 */


/* Overrides */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  display: inline-block;
}

ol li, ul li {
  list-style: none;
}

/* Global Elements */

body {
  color: #333;
}



/* PARALLAX LAYERS */


/*Parallax section*/
#section-1 {
    z-index: 1;
    color: #fff;
    height: 100vh;
}
/*#section-1 .row {
    position: fixed;
}*/
/*Parallax background*/
#section-1 .parallax-layer-back {
    background: url("../images/demolish-collage.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Section with dummy content*/
#section-2, #section-4 {
    z-index: 2;
    position: relative;
    background: #fff;
    width: 100%;
}

/* Section 3 */
#section-3 {
  z-index: 1;
  color: #fff;
  height: 100vh;
}

#section-3 .parallax-layer-back {
  background: url("../images/demolish2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 /*Section 4 
#section-4 {
  z-index: 2;
  position: relative;
  background: #fff;
  width: 100%;
}*/

.flex-center {
  position: relative;
  text-align: center;
  top: 50%;
}


.overlay {
  background: rgba(0,0,0,0.6);
  /*height: inherit;*/
}

/* Header */
.jumbotron {
  /*background: url('../images/demolish-collage.jpg') fixed no-repeat;*/
  /*background: rgba(0,0,0,0.6);*/
  /*background-size: cover;*/
  /*height: 800px;*/
  /*padding: 1em 2em;*/
}


#menu {
  text-align: center;
  height: 100vh;
}

.menu-course {
  margin: 100px 0;
}

.menu-course__heading {
  text-align: left;
  padding: 5px 0 5px 15px;
}

.menu-container {
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
}

/*footer {
  height: 100vh;
}*/

.placeholder-cards .col {
  border: 1px solid #000;
  border-radius: 5px;
}