 /* PROJECT DEMOLISH
 * By: Carson, Parth, and Florence
 */


/* Overrides */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  display: inline-block;
}

ol li, ul li {
  list-style: none;
}

/* Global Elements */

body {
  color: #333;
}

/* Header */
.jumbotron {
  background: url('../images/demolish-collage.jpg') fixed no-repeat;
  background-size: cover;
  /*max-height: 100vh;*/
  height: 800px;
  padding: 1em 2em;
}

.jumbotron .menu {
  position: relative;
  text-align: center;
  top: 50%;
}

.placeholder-cards .col {
  border: 1px solid #000;
  border-radius: 5px;
}



.btn-primary {
  margin-right: 200px;
}

#menu {
  text-align: center;
  backround: #eee;
  /*padding-bottom: 40px;*/

}

.menu-course {
  margin: 100px 0;
}

.menu-course__heading {
  text-align: left;
  padding: 5px 0 5px 15px;
}

.menu-container {
  /*position: relative;*/
  border: 1px solid #000;
  border-radius: 5px;
  /*margin-bottom: 900px;*/
  /*width:125px;*/
  text-align: center;
}

.col{
  text-align: center;
}

/*.menu-main-item {
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 900px;
  width:125px;
  text-align: center;
}*/

/*#app-the-header {
  margin-right: 100px;
  padding-bottom: 10px
}*/

/*#fries {
  margin-left: 533px;
  margin-right: 530px;
  width: auto;
  height: 80px;
}*/

/*#mains-the-header {
  margin-right: 100px;
  padding-bottom: 10px;
}

#tacos {
  margin-left: 533px;
  margin-right: 530px;
}
*/

